<div fxLayout="column"  fxFill>
  <div fxFlex="25" fxFill >
    <div fxLayout="row" fxLayoutAlign="center center" fxFill>
      <div fxFlex="46" fxFlex.xs="50" fxFlex.md="50" fxLayoutAlign="center end" fxLayoutAlign.xs="start end" fxFill>
        <div fxLayout="column">
          <h2 style="font-size: 27px; font-weight: 300; color: rgb(114, 112, 112); margin: 0px;">What are you</h2>
          <h1 style="font-size: 25px; font-weight: bolder; margin: 0px; margin-top: 3px;">here to do?</h1>
        </div>
      </div>
      <div fxFlex="46" fxFlex.xs="50" fxLayoutAlign="center center" fxLayoutAlign.xs="end center">
      </div>
    </div>
  </div>
  <div fxFlex="50" fxFill>
  <div class="card">
    <div class="slider">
      <app-card *ngFor="let category of categories" [item]="category"></app-card>
    </div>
  </div>
  </div>
  <div fxFlex="25" >
    <app-button></app-button>
  </div>
</div> 