.slick-arrow{
    z-index: 99;
    background: #000000;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    outline: none;

    i{
        margin-left: -3px;
        color: white;
    }
}