<div class="page">
  <div fxLayout="row" class="toolbar">
  </div>
  <div fxLayout="row" class="info-body">
    <div fxFlex="14" ></div>
    <div fxFlex="72" >
      <div  fxFill style="background-color: #D6EAEC;">
        <div fxLayout="row" fxLayoutGap="1.5%" fxFill>
          <div *ngFor="let stripe of stripes" style="width: 1000px; height: 100%; background-color: #E7F5F6">
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="14" class="pink-wall"></div>
  </div>
</div>
<div class="page">
  <div fxLayout="row" class="toolbar">
    <img src="./assets/mtn_logo.png" class="mtn-logo"/>
    <div fxLayout="row" fxLayoutAlign="center center">
      <label class="toolbar-sections">Store</label>
      <label class="toolbar-sections">Products and Services</label>
      <label class="toolbar-sections">Help & Support</label>
    </div>
    <div fxLayout="row" fxFlex fxLayoutAlign="center center">
      <i class="material-icons">search</i>
      <span class="dot"></span>
      <label>PERSONAL</label>
      <i class="material-icons">keyboard_arrow_down</i>
    </div>
  </div>
  <div fxLayout="row" class="info-body">
    <div fxFlex="14" class="pink-wall"></div>
    <div fxFlex="72" >
      <app-carousel></app-carousel>
    </div>
    <div fxFlex="14" class="pink-wall"></div>
  </div>
</div>




