.page{
    position: fixed;
    height: 100%;
    width: 100%;
}
.toolbar{
    background-color: white;
    height: 8%;
}

.mtn-logo{
    z-index: 1;
    margin-left: 401px;
    width: 90px;
    height: 90px;
}

.toolbar-sections{
    margin-left: 50px;
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-left: 35px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: inline-block;
}

.info-body{
    height: 92%;
    width: 100%;

}

.pink-wall{
    background-color: #F6CDCD;
}









  