
  
  

.page{
    position: fixed;
    height: 100%;
    width: 100%;
}
.toolbar{
    background-color: white;
    height: 8%;
}

.mtn-logo{
    z-index: 1;
    margin-left: 401px;
    width: 90px;
    height: 90px;
}

.toolbar-sections{
    margin-left: 50px;
}

.dot {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-left: 35px;
    background-color: #ffcc00;
    border-radius: 50%;
    display: inline-block;
}

.info-body{
    height: 92%;
    width: 100%;

}

.pink-wall{
    background-color: #F6CDCD;
}

.blue-wall{
    background-image: url(~src/assets/blue_wall.png);
    background-color: #D6EAEC;
}

.blue-wall-stripes{
    background-color: #E7F5F6;
    height: 100%;
    width: 90px;
}



*{
    margin: 0px;
    padding: 0px;
}



.card{
    margin:0px;
}

.slick-slide img{
    margin: 0 auto;
    max-width: 120px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.item{
    padding: 0px;
    outline: none;
}


.item-inner h4{
    font-weight: 900;
    font-size: 25px;
    color: "#fff";
    margin-bottom: 50px;
}


.related-products-carousel .category-product {
    padding-right: 0.5em;
    padding-left: 0.5em;
}


.slick-slide.slick-current{
    transform: scale(.88);
    opacity: 1;
    width: 420px;
    height: 550px;
    background-color: #ffcc00;
    padding-bottom: 8px;
    border-radius: 20px;
    margin-top: 0px;


    
    .item-inner{
        background: linear-gradient(45deg, #f6f6f6, #f6f6f6);
        border-radius: 15px;
        text-align: center;
        padding: 25px;
        margin: 0px;
        height: 91%;
        
    }

}


.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}


.slick-slide{
    transform: scale(0.81);
    transition: all ease 0.5s;
    margin:  100px -12px;
    width: 278px;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.15) 0px 0px 10px;

    .item-inner{
        background: linear-gradient(45deg, #f6f6f6, #f6f6f6);
        border-radius: 15px;
        text-align: center;
        padding: 25px;

        
    }

    

}

.continue{
    display: none;
}


.slick-slide.slick-current img{
    margin: 0 auto;
    max-width: 160px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.slick-slide.slick-current h4{
    font-weight: 900;
    font-size: 45px;
    color: "#fff";
    margin-bottom: 50px;
}


.slick-slide.slick-current.slick-active {



    .continue{
        display: block;
        margin-bottom: 15px;
        p{
            font-weight: 900;
            font-size: 11px;
        }
    }
}


.slick-arrow{
    z-index: 99;
    background: #000000;
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    outline: none;

    i{
        margin-left: -3px;
        color: white;
    }
}


.slick-list{
    padding-top: 55px !important;
    padding-bottom: 55px !important;
}

.slick-prev:before, .slick-next:before {
    color: #09529b !important;
  }


  