*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    overflow-x: hidden;
    background-color: "#272831";
    font-family: Open Sans, sans-serif;

}

.card{
    margin-top: 50px;
}

.slick-slide img{
    margin: 0 auto;
    max-width: 120px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.item{
    padding: 0px;
    outline: none;
}


.item-inner h4{
    font-size: 30px;
    color: "#fff";
    font-family: Nueva Std;
    text-transform: capitalize;

}



.slick-slide.slick-current{
    transform: scale(1);
    opacity: 1;
    background-color: yellowgreen;
    padding-bottom: 8px;
    border-radius: 20px;

    .item-inner{
        background: linear-gradient(45deg, #f6f6f6, #f6f6f6);
        border-radius: 15px;
        text-align: center;
        padding: 25px;
        margin: 0px;

        p{
            font-size: 15px;
            color: "#fff";
            font-family: Open Sans;
            text-transform: capitalize;
            letter-spacing: 1px;
            margin-bottom: 40px;
            margin-top: 50px;
        }
    }

}



.slick-slide{
    transform: scale(0.8);
    transition: all ease 0.5s;

    .item-inner{
        background: linear-gradient(45deg, #f6f6f6, #f6f6f6);
        border-radius: 15px;
        text-align: center;
        padding: 25px;

        
    }

    

}

.slick-arrow{
    position: absolute;
    bottom: 0px;
    z-index: 99;
    background: "fff";
    border: none;
    padding: 8px 15px;
    border-radius: 50px;
    width: 100px;
    outline: none;
}

.slick-next {
    right: 260px;
}



.slick-prev{
    left: 43%;
}

.slick-list{
    padding-top: 55px !important;
    padding-bottom: 55px !important;
}

.slick-prev:before, .slick-next:before {
    color: #09529b !important;
  }