<div class="card">
    <div class="slider">
        <div class="item">
            <div class="item-inner">
                <img src="./assets/empty_image.png"/>
                <h4>Get a Device {{index}}</h4>
                <p>Start Here</p>
            </div>
        </div>
        <div class="item">
            <div class="item-inner">
                <img src="./assets/empty_image.png"/>
                <h4>Add a phone-line</h4>
                <p>Start here</p>
            </div>
        </div>
        <div class="item">
            <div class="item-inner">
                <img src="./assets/empty_image.png"/>
                <h4>Upgrade</h4>
                <p>Start here</p>
            </div>
        </div>
        <div class="item">
            <div class="item-inner">
                <img src="./assets/empty_image.png"/>
                <h4>Mobile Internet</h4>
            </div>
        </div>
        <div class="item">
            <div class="item-inner">
                <img src="./assets/empty_image.png"/>
                <h4>Home Internet</h4>
            </div>
        </div>
        <div class="item">
            <div class="item-inner">
                <img src="./assets/empty_image.png"/>
                <h4>Contracts</h4>
            </div>
        </div>
    </div>
</div>

<div>
    <button class="next">Next</button>
    <button class="prev">Previous</button>
    
</div>
