/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%; 
     padding: 0px;
     margin: 0px;
     
     * {
        font-family: Work Sans /* Replace with your custom font */, Work Sans ; 
        /* Add !important to overwrite all elements */
      }

      * {
        outline: none;
    }
}

